<div class="w-full md:w-1/3 xl:w-1/4 p-6">
    <a href="{% url 'core:product' product.slug %}">
        <img src="{{ product.get_thumbnail }}" class="rounded-xl hover:shadow-lg">
    </a>
    <div class="pt-3 flex items-center justify-between">
        <a href="{% url 'core:product' product.slug %}">{{product.name}}</a>

        <a 
        href="{% url 'core:product' product.slug %}"
        hx-get="{% url 'cart:add_to_cart' product.id %}"
        hx-target="#menu-cart-button"
        hx-swap="outerHTML"
        class="text-purple-500 hover:text-purple-800">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                <path fill-rule="evenodd" d="M7.5 6v.75H5.513c-.96 0-1.764.724-1.865 1.679l-1.263 12A1.875 1.875 0 004.25 22.5h15.5a1.875 1.875 0 001.865-2.071l-1.263-12a1.875 1.875 0 00-1.865-1.679H16.5V6a4.5 4.5 0 10-9 0zM12 3a3 3 0 00-3 3v.75h6V6a3 3 0 00-3-3zm-3 8.25a3 3 0 106 0v-.75a.75.75 0 011.5 0v.75a4.5 4.5 0 11-9 0v-.75a.75.75 0 011.5 0v.75z" clip-rule="evenodd" />
            </svg> 
        </a>
    </div>
    <p class="pt-1 text-gray-400">{{ product.price }} руб.</p>
</div>