{% extends 'core/base.html' %}

{% block content %}

<div class="max-w-6xl mx-auto flex flex-wrap items-start py-6 px-6 xl:px-0">
    <div class="product w-full lg:w-3/4">
        <h1 class="mb-5 text-3xl">Оформление заказа</h1>
        <p class="text-gray-400">
            Данные нужны для курьера и сообщений об изменениях статуса вашего заказа
        </p>
        <div class="w-full p-6">
            <div class="mb-6 p-6 bg-gray-100 rounded-xl">
                <h2 class="mb-5 text-uppercase text-lg">Получатель</h2>

                <div class="flex space-x-6">
                    <div class="w-1/2 mb-4">
                        <label class="inline-block mb-2">Имя</label>
                        <input type="text" class="w-full p-5 rounded-xl">
                    </div>

                    <div class="w-1/2 mb-4">
                        <label class="inline-block mb-2">Фамилия</label>
                        <input type="text" class="w-full p-5 rounded-xl">
                    </div>
                </div>

                <div class="mb-4">
                    <label class="inline-block mb-2">Адрес доставки</label>
                    <input type="text" class="w-full p-5 rounded-xl">
                </div>

                <div class="flex space-x-6">
                    <div class="w-1/2 mb-4">
                        <label class="inline-block mb-2">Почтовый индекс</label>
                        <input type="text" class="w-full p-5 rounded-xl">
                    </div>

                    <div class="w-1/2 mb-4">
                        <label class="inline-block mb-2">Область</label>
                        <input type="text" class="w-full p-5 rounded-xl">
                    </div>
                </div>
            </div>

            <div class="mb-6 p-6 bg-gray-100 rounded-xl">
                <h2 class="mb-5 text-uppercase text-lg">Контактная информация</h2>

                <div class="mb-4">
                    <label class="inline-block mb-2">Электронная почта</label>
                    <input type="email" class="w-full p-5 rounded-xl">
                </div>

                <div class="mb-4">
                    <label class="inline-block mb-2">Номер телефона</label>
                    <input type="phone" class="w-full p-5 rounded-xl">
                </div>
            </div>

            <div class="mb-6 p-6 bg-gray-100 rounded-xl">
                <h2 class="mb-5 text-uppercase text-lg">Платёжная информация</h2>
            </div>
        </div>
    </div>

    <div class="summary w-1/4 p-6 bg-gray-100 rounded-xl mt-3">
        <h1 class="uppercase text-lg mb-5">Ваш заказ</h1>

        <div class="mb-6 flex justify-between">
            <span class="font-semibold">Всего:</span>
            <span>руб</span>
        </div>
    <br>
    <a href="" class="inline-block px-8 py-3 rounded-xl bg-purple-500 hover:bg-purple-700 text-white">
        Оформить заказ
    </a>
    </div>
</div>
{% endblock %}