{% extends 'core/base.html' %}

{% block title %}Успешно{% endblock %}

{% block content %}
<div class="max-w-6xl mx-auto flex flex-wrap items-start py-6 px-6 xl:px-0">
    <div class="product w-full lg:w-3/4">
        <h1 class="mb-5 text-3xl">Успешно</h1>
        <p>Спасибо за покупку!</p>
        <br>
        <p>Чтобы уточнить информацию по вашему заказу вы можете обратиться по номеру <strong>89275552211</strong></p>
        <p>Или по электронной почте <strong>root@mail.ru</strong></p>
    </div>
{% endblock %}